body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-gap: var(--padding);
	grid-template-rows: calc(var(--n-base) * 10) 1fr;
	justify-items: center;

	background-color: var(--c-dk);
}

.menu,
.page  {
	width: 90vw;
	height: auto;
	padding: var(--padding);
	overflow: scroll;

	background-color: var(--c-bg);
	border: var(--border);
}

.menu {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: var(--padding);
	justify-items: center;
	align-items: center;
}
.menu a:last-of-type {
	grid-column: 5 / 6;
}

.sections {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: var(--padding);
	justify-items: center;
}
.section {
	margin-bottom: var(--padding);
}

ul {
	padding-left: calc(var(--n-base) * 3);
	list-style: symbols(cyclic "– ") outside;
	color: var(--c-fg);

	margin-top:    0;
	margin-bottom: 0;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: var(--padding);
}
th {
	background: var(--c-hl);
}
th,
td {
	border: 1px solid var(--c-fg);
	padding: calc(var(--n-base) / 3);
}
td:nth-child(2n+1) {
	width: 25%;
}
