h1 {
	font: var(--f-lg);
	color: var(--c-fg);
}

h2 {
	font: var(--f-md);
	color: var(--c-hl);
	text-decoration: underline;

	margin-top:    0;
	margin-bottom: 0;
}

/* inline code and code blocks */
p code,
td code {
	font: var(--f-sm);
	color: var(--c-hl);
}
pre code {
	font: var(--f-sm);
}

tr th,
tr td,
a,
p {
	font: var(--f-sm);
	color: var(--c-fg);
	text-decoration: none;
}
a:hover {
	color: var(--c-hl);
	text-decoration: underline;
	cursor: pointer;
}

/* selection */
tr th::selection,
tr td::selection,
h1::selection {
	color: var(--c-hl) !important;
	background-color: var(--c-fg) !important;
}

pre code::selection,
code::selection,
h2::selection {
	color: var(--c-fg) !important;
	background: var(--c-hl) !important;
}

a::selection,
p::selection {
	color: var(--c-bg) !important;
	background: var(--c-fg) !important;
}
