:root {
	/* Colors */
	--c-fg: #ebdbb2;
	--c-bg: #32302f;
	--c-hl: #458588;
	--c-dk: #282828;

	/* Fonts */
	--f: "Terminus", "Roboto Mono", monospace;
	--f-s: normal;
	--f-w-reg: 400;
	--f-w-bol: 700;

	--f-sm: var(--f-s) var(--f-w-reg) 12pt/130% var(--f);
	--f-md: var(--f-s) var(--f-w-bol) 18pt/130% var(--f);
	--f-lg: var(--f-s) var(--f-w-bol) 36pt/130% var(--f);

	/* Numbers */
	--n-base: 6px;
	--padding: calc(var(--n-base) * 3);

	/* Borders */
	--border: calc(var(--n-base) / 3) solid var(--c-hl);
}
